In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("local_ocean_synthetic.csv")

In [3]:
df.shape

(1160, 6)

In [4]:
df.sample(10)

,Text,Openness,Conscientiousness,Extraversion,Agreeableness,Neuroticism
433,"Confirmed: I’m not lazy, I’m on energy-saving ...",3.8,1.7,3.5,3.7,3.2
667,If I got a dollar for every time my grandparen...,3.4,3.2,3.7,4.1,2.9
967,An excellent piece that deserves recognition.,4.5,3.7,4.1,4.0,2.6
215,Incessant doubts steal joy.,2.5,3.6,2.2,3.2,4.9
393,Affection is the mirror of the soul.,2.6,4.7,4.6,2.0,-0.8
893,This blog post is a valuable addition to my kn...,4.1,4.2,3.8,4.4,3.5
1063,This camera lens captures stunning shots. It's...,4.5,3.7,3.9,4.2,2.6
474,Proclamation: I hereby declare today ‘Annoy th...,4.4,2.6,4.2,2.4,3.2
1146,I'm captivated by the craftsmanship of this ha...,4.7,3.5,3.9,4.6,2.4
268,Unrestrained happiness is a symphony of souls.,4.7,1.2,5.0,2.9,0.0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1160 entries, 0 to 1159
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Text               1160 non-null   object
 1   Openness           1160 non-null   float64
 2   Conscientiousness  1160 non-null   float64
 3   Extraversion       1160 non-null   float64
 4   Agreeableness      1159 non-null   float64
 5   Neuroticism        1159 non-null   float64
dtypes: float64(5), object(1)
memory usage: 54.5+ KB

In [6]:
df.isnull().sum()

Text                 0
Openness             0
Conscientiousness    0
Extraversion         0
Agreeableness        1
Neuroticism          1
dtype: int64

In [9]:
df = df.dropna(axis=0)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1159 entries, 0 to 1158
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Text               1159 non-null   object
 1   Openness           1159 non-null   float64
 2   Conscientiousness  1159 non-null   float64
 3   Extraversion       1159 non-null   float64
 4   Agreeableness      1159 non-null   float64
 5   Neuroticism        1159 non-null   float64
dtypes: float64(5), object(1)
memory usage: 63.4+ KB